<!--
	aria-live		dynamic change region without reload page
	polite			do not interrupt, read when you want
	aria-atomic		region is always present, even if only part of the region changes
-->
<div class="sr-only" role="status" aria-live="polite" aria-atomic="true">	<!-- TODO: component??? -->
	{{message}}
</div>

<!--	justify-content-center	to align Previous and Next buttons	-->
<div class="row text-center text-xl-left text-md-center text-sm-left justify-content-center px-2" role="main" #list>
<!--
	<div class="container-fluid text-center">
		<h3 class="card-title mt-3 font-weight-bold">
			Search results for {{params.q}}
		</h3>
	</div>
-->
	<div class="col-12 col-md-6 mb-3 p-0" *ngFor="let result of searchResults?.items; let hovered = index">     <!-- ? Safe Navigation Operator to avoid null or undefined-->
		<!--	h-100	make two "cards" on same line with same height	-->
		<div class="row <!--align-items-center--> h-100 mx-2 py-2 border shadow-sm {{hovered}}" (mouseover)="this.hovered = 'shadow'" (mouseout)="this.hovered = ''">
			<div class="col-12 col-lg-6 col-md-12 col-sm-6 mx-0 px-0">
				<a [routerLink]="['/videopage', result.id.videoId]" aria-hidden="true" tabindex="-1">
					<img class="container-fluid" src="{{result.snippet.thumbnails.medium.url}}" alt="{{result.snippet.title}}" title="{{result.snippet.title}}">
				</a>
			</div>
			<div class="col-12 col-lg-6 col-md-12 col-sm-6 mx-0 px-0">
				<div class="container-fluid">
					<a class="card-link" [routerLink]="['/videopage', result.id.videoId]" attr.aria-label="{{ result.snippet.title }} by {{ result.snippet.channelTitle }} published {{ result.snippet.publishedAt | date: 'longDate' }}">
						<h6 class="card-title font-weight-bold">{{result.snippet.title}}</h6>
					</a>
					<p class="card-subtitle">{{result.snippet.channelTitle}}</p>
					<small class="text-muted">{{result.snippet.publishedAt | date: 'longDate'}}</small>
				</div>
			</div>
		</div>
	</div>
	<button class="btn btn-success mx-auto mb-3" type="button" role="button" [routerLink]="['/search', q, searchResults?.prevPageToken]" *ngIf="searchResults?.prevPageToken">
		Previous
	</button>
	<button class="btn btn-success mx-auto mb-3" type="button" role="button" [routerLink]="['/search', q, searchResults?.nextPageToken]">
		Next
	</button>
</div>
