<h3 class="text-center">Consigliati</h3>
<div class="card-deck">
    <div class="col-sm-6 col-md-12 col-lg-6 mb-1 p-0" *ngFor="let r9r of r10s | keyvalue"> <!-- keyvalue transforms Object or Map into an array of key value pairs -->
        <div class="card border-primary">
            <carousel>
                <div *ngFor="let video of r9r.value; let i=index">
                    <slide *ngIf="i<nVideo">
                        <a [routerLink]="['/videopage',video.videoID]" style="text-decoration:none;">
                            <div class="card-body p-2">
                                <h5 class="card-title text-truncate text-right text-dark font-weight-bold mb-0">From {{r9r.key}}</h5>
                                <p class="card-text text-truncate text-right h6"><small class="text-muted">{{video.reason?video.reason:'No resason available'}}</small></p>
                                <p class="card-text text-truncate mb-1 h6">{{video.title}}</p>
                                <p class="card-text text-truncate h6"><small class="text-muted">{{video.artist}}</small></p>
                            </div>
                            <img class="card-img-bottom" src="{{video.img}}" alt="Card image of {{video.title}}">
                        </a>
                    </slide>
                </div>
            </carousel>
        </div>
    </div>
 </div>
