	<div class="row justify-content-center">
		<div class="col-sm-6 col-md-5 col-lg-2 text-center mb-4">
			<div class="ml-1 mr-1">
				<img class= "img-fluid" src="assets/img/logo.png" alt= "alphaTube logo">
 			</div>
		</div>
	</div>

	<div class="text-center">
		<p>AlphaTube è un progetto di<a target="_blank" href="http://tw.web.cs.unibo.it/mediawiki-1.30.0/index.php/Technologie_Web_2018-19"> Tecnologie Web</a>, anno
      accademico 2017-2018, del professore <a target="_blank" href="http://vitali.web.cs.unibo.it/"> Fabio Vitali</a>.
    <br>
    Informazioni sul Team:</p>
	</div>

<div class="card-deck mb-5 text-center">

	<div class= "card text-center">
		<img  src="assets/img/gabriele.jpg" class="card-img-top" alt="Gabriele Fulgaro">
			<p>  <b>Gabriele Fulgaro
				<span class="reverse"> <a href="mailto:gabriele.fulgaro@studio.unibo.it">ti.obinu.oiduts@oragluf.eleirbag</a></span></b> <br> </p>
	</div>



			<div class= "card text-center">
				<img  src="assets/img/francesco.jpg" class="card-img-top" alt="Francesco Fornari">
					<p>  <b>Francesco Fornari
						<span class="reverse"> <a href="mailto:francesco.fornari2@studio.unibo.it">ti.obinu.oiduts@2iranrof.ocsecnarf</a></span></b> <br> </p>
			</div>

			<div class= "card text-center">
				<img  src="assets/img/mattia.jpg" class="card-img-top" alt="Mattia Polverini">
					<p>  <b>Mattia Polverini
							<span class="reverse"> <a href="mailto:mattia.polverini@studio.unibo.it">ti.obinu.oiduts@inirevlop.aittam</a></span></b> <br> </p>
			</div>

				<div class= "card text-center">
					<img  src="assets/img/arianna.jpg" class="card-img-top" alt="Arianna Avoni">
						<p>  <b>Arianna Avoni
							<span class="reverse"> <a href="mailto:arianna.avoni@studio.unibo.it">ti.obinu.oiduts@inova.annaira</a></span></b> <br> </p>
				</div>

	</div>
