<div class="container-fluid" role="main">

	<div class="row justify-content-center">
		<div class="col-sm-6 col-md-5 col-lg-2 text-center mb-4">
			<div class="ml-1 mr-1">
				<img class= "img-fluid" src="assets/img/logo.png" alt= "alphaTube logo">
 			</div>
		</div>
	</div>

	<div class="text-center">
		<p>AlphaTube è un progetto di<a target="_blank" href="http://tw.web.cs.unibo.it/mediawiki-1.30.0/index.php/Technologie_Web_2018-19"> Tecnologie Web</a>, anno
      accademico 2017-2018, del professore <a target="_blank" href="http://vitali.web.cs.unibo.it/"> Fabio Vitali</a>.
    <br>
    Informazioni sul Team:</p>
	</div>





 <div class="row text-center text-xl-left text-md-center" role="list">
    <!--<div class="mb-2 col-sm-5 col-md-4 col-lg-3 p-1" role="listitem">-->

			<div>
      <img  src="https://png.pngtree.com/png_detail/18/09/10/pngtree-element-png-clipart_357238.jpg" class="container-fluid"  alt="Arianna Avoni">

			<p>
        <b>Arianna Avoni <span class="glyphicon glyphicon-tree-conifer"></span></b>
				<br>
      </p>
      <i class="fa fa-envelope-o"> <a target="_blank" href="mailto:arianna.avoni@studio.unibo.it"> arianna.avoni@studio.unibo.it </a> </i>
			<br>
			<a target="_blank" href="https://gitlab.com/avoniarianna"><i class="fa fa-code-fork" ></i> avoniarianna</a>
		</div>


			<div>
        <img  src="https://png.pngtree.com/png_detail/18/09/10/pngtree-element-png-clipart_357238.jpg" class="container-fluid"  alt="Arianna Avoni">
				<p>
					<b>Arianna Avoni <span class="glyphicon glyphicon-tree-conifer"></span></b>
					<br>
				</p>
				<i class="fa fa-envelope-o"> <a target="_blank" href="mailto:arianna.avoni@studio.unibo.it"> arianna.avoni@studio.unibo.it </a> </i>
				<br>
				<a target="_blank" href="https://gitlab.com/avoniarianna"><i class="fa fa-code-fork" ></i> avoniarianna</a>
			</div>

			<div>
          <img  src="https://png.pngtree.com/png_detail/18/09/10/pngtree-element-png-clipart_357238.jpg" class="container-fluid" alt="Arianna Avoni">
					<p>
		        <b>Arianna Avoni <span class="glyphicon glyphicon-tree-conifer"></span></b>
		        <br>
		      </p>
		      <i class="fa fa-envelope-o"> <a target="_blank" href="mailto:arianna.avoni@studio.unibo.it"> arianna.avoni@studio.unibo.it </a> </i>
					<br>
					<a target="_blank" href="https://gitlab.com/avoniarianna"><i class="fa fa-code-fork" ></i> avoniarianna</a>
				</div>

			<div>
    <img  src="https://png.pngtree.com/png_detail/18/09/10/pngtree-element-png-clipart_357238.jpg" class="container-fluid" alt="Arianna Avoni">
		<p>
			<b>Arianna Avoni <span class="glyphicon glyphicon-tree-conifer"></span></b>
			<br>
		</p>
		<i class="fa fa-envelope-o"> <a target="_blank" href="mailto:arianna.avoni@studio.unibo.it"> arianna.avoni@studio.unibo.it </a> </i>
		<br>
		<a target="_blank" href="https://gitlab.com/avoniarianna"><i class="fa fa-code-fork" ></i> avoniarianna</a>
</div>

</div>
</div>
