<nav class="navbar navbar-expand-md navbar-dark bg-primary">
	<a class="navbar-brand" routerLink="/">
		<img class="d-inline-block align-top" src="assets/img/logo.png" width="30" height="30" alt="alphaTube logo">
		{{ title }}
	</a>
	<button class="navbar-toggler btn-danger" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="isCollapsed" aria-controls="navbarContent" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" [ngClass]="{'show': !isCollapsed}" id="navbarContent">    <!-- https://github.com/valor-software/ngx-bootstrap/issues/540#issuecomment-365267992 -->
		<div class="navbar-nav flex-row mr-md-auto d-md-flex" role="navigation">
<!--
			<a class="nav-item nav-link active" [routerLink]="['/videopage', '001']">Videopage<span class="sr-only">(current)</span></a>
-->
			<a class="nav-item nav-link active" routerLink="/about">About</a>
		</div>
		<form class="form-inline" (ngSubmit)="search()" #form="ngForm">
			<div class="input-group" role="form" aria-label="Search form">

<!--    https://stackblitz.com/edit/ngx-bootstrap-cuebcp?file=main.ts  -->
				<div class="btn-group btn-group-toggle input-group-prepend" btnRadioGroup role="radiogroup" name="by" [(ngModel)]="by" data-toggle="button" aria-label="Select the type of search">
					<label class="btn btn-success" btnRadio="Title" role="radio">
						<input type="radio" autocomplete="off">Title
					</label>
					<label class="btn btn-success" btnRadio="ID" role="radio">
						<input type="radio" autocomplete="off">ID
					</label>
<!--
					<label class="btn btn-secondary" btnRadio="Title" tabindex="0" role="button" aria-label="Title">Title</label>
					<label class="btn btn-secondary" btnRadio="ID" tabindex="0" role="button" aria-label="ID">ID</label>
-->
				</div>
<!--
				<select class="custom-select col-4" name="by" [(ngModel)]="by" required>
					<option *ngFor="let type of types" [ngValue]="type.parameter">{{type.label}}</option>
				</select>
-->
				<input class="form-control" name="q" id="Search" type="search" placeholder="Search..." role="search" aria-label="Text to search" [(ngModel)]="q" required>
				<div class="btn-group input-group-append">
					<button class="btn btn-success" type="submit" aria-controls="Search" role="button" aria-label="submit" [disabled]="form.invalid">
						<i class="fas fa-search"></i>    <!-- TODO: icons -->
					</button>
				</div>
			</div>
		</form>
	</div>
</nav>
