/*#E7DFDD* #61ffbb #ff6f61*/

.bg-primary{
     background-color: #5F4C89 !important;
}

.btn-danger{
    background-color: #79eb4c !important;
    border-color: transparent !important;
    color: #495057 !important; /* TODO: farlo anche al toggler-icon */
}

.btn-danger:disabled{
    background-color: #80f750 !important;
}

.btn-secondary:not(:disabled):not(.disabled).active {
    background-color: #59a636;
}

.btn-secondary:hover {
    background-color: #67bf3e;
}

.btn-secondary {
    color: #fff;
    background-color: #79eb4c;
    border-color: transparent !important;
}

#Search{
    border-color: #79eb4c !important;
}

.card, a.nav-link{
    background-color: transparent !important;
}

.border-primary{ /* TODO: metterlo anche alla wikibox */
    border-color: #E0E0E0 !important;
}

.border-primary:hover{
    border-color: #A239CA !important;
}

body{
    background-color: #FBFBFB !important;
}
