<tabset [justified]="true" type="pills">
<!--
	YOUTUBE ACCORDION GROUP
-->
	<tab class="pt-1">
		<ng-template tabHeading>
			<i class="fab fa-youtube"></i><br>
			YouTube
		</ng-template>
		 
		<accordion [closeOthers]="true">
			<accordion-group heading="Description" [isOpen]="true">
				<div class="container-fluid scrollable p-0">
					<div class="card">
						<div class="card-header text-justify">
							<span class="badge badge-secondary p-2 m-1" *ngFor="let tag of tags">
								<a [routerLink]="['/search', tag]" class="text-white">
									#{{tag || "I look for #tags, but I have failed :C"}}
								</a>
							</span>
						</div>
						<div class="card-body">
							<pre style="font-family: Arial;">
{{description || "Description not available :C"}}
							</pre>
						</div>
						<div class="card-footer text-center">
							<span class="badge badge-info p-3 m-1 mr-5">
								<i class="mr-1 fas fa-eye"></i>{{statistics?.viewCount}}
							</span>
							<span class="badge badge-success p-3 m-1">
								<i class="mr-1 fas fa-thumbs-up"></i>{{statistics?.likeCount}}
							</span>
							<span class="badge badge-danger p-3 m-1">
								<i class="mr-1 fas fa-thumbs-down"></i>{{statistics?.dislikeCount}}
							</span>
						</div>
					</div>
				</div>
			</accordion-group>
			<accordion-group heading="Comments">
				<div class="container-fluid scrollable p-0">
					<div class="mb-2 card bg-light border-secondary" *ngFor="let item of comments">
						<div class="card-header font-weight-bold">
							<img class="avatar mr-1" src={{item.snippet.topLevelComment.snippet.authorProfileImageUrl}}>
							{{item?.snippet.topLevelComment.snippet.authorDisplayName}}
						</div>
						<div class="card-body">
							<p class="card-text">
								{{item?.snippet.topLevelComment.snippet.textOriginal}}
							</p>
							<p class="text-right">
								<i class="pr-1 fas fa-thumbs-up"></i>{{item?.snippet.topLevelComment.snippet.likeCount}}
							</p>
						</div>
					</div>
				</div>
			</accordion-group>
		</accordion>
	</tab>
<!--
	DBPEDIA ACCORDION GROUP
-->
	<tab class="pt-1">
		<ng-template tabHeading>
			<i class="fas fa-project-diagram"></i><br>
			DBpedia
		</ng-template>
		
		<accordion [closeOthers]="true">
			<accordion-group heading="Info" [isOpen]="true">
				<div class="container-fluid scrollable p-0">
					<div class="card">
						<div class="card-header font-weight-bold">
							{{singer}}
						</div>
						<div class="card-body">
							{{singer_abs || "No data about performer available :C"}}
						</div>
					</div>
					<div class="card mt-2">
						<div class="card-header font-weight-bold">
							{{song}}
						</div>
						<div class="card-body">
							{{song_abs?.abstract.value || "We don't have any info about this song :C"}}
						</div>
					</div>
				</div>
			</accordion-group>
			<accordion-group heading="Album">
				<div class="container-fluid scrollable p-0">
					<div class="card">
						<div class="card-header font-weight-bold">
							{{album || "Nothing here..."}}
						</div>
						<div class="card-body">
							{{album_abs || "No info available at the moment :("}}
						</div>
					</div>
				</div>
			</accordion-group>
			<accordion-group heading="Genre">
				<div class="container-fluid scrollable p-0">
					<div class="card mb-2" *ngFor="let genre of genres">
						<div class="card-header font-weight-bold">
							{{genre?.name.value}}
							<span class="badge badge-info p-2 m-1">
								<a [routerLink]="['/search', genre.name.value]" class="text-white">
									more... <i class="fas fa-angle-right"></i>
								</a>
							</span>
						</div>
						<div class="card-body">
							{{genre?.abstract.value || "No info available!"}}
						</div>
					</div>
				</div>
			</accordion-group>
		</accordion>
	</tab>
<!-- 
	MUSICXMATCH ACCORDION GROUP
-->
	<tab class="pt-1">
		<ng-template tabHeading>
			<i class="fas fa-music"></i><br>
			Musicxmatch
		</ng-template>
	</tab>
<!--
	TWITTER ACCORDION GROUP
-->
	<tab class="pt-1">
		<ng-template tabHeading>
			<i class="fab fa-twitter"></i><br>
			Twitter
		</ng-template>
	</tab>
</tabset>
