/* You can add global styles to this file, and also import other style files */

/* navbar */
.navbar-dark{ background-image: linear-gradient(120deg, #63c4f4 0%, #84fab0 100%);}
/* link navbar */
.navbar-link{ color: #FFF !important; border: 0px;}
.navbar-link:hover{ color: #FFF !important;}

/* barra di ricerca */
.form-control{ border-color: #FFF; }
.btn-light{
  background-color: #f5fbff;
  border-color: #f5fbff;
  color: #A239CA !important;
}
.btn-light.active{
  background-color: #e6edee !important;
  border-color: #e6edee !important;
}

/* navbar toggler */
.btn-primary{ border: 2px solid #f5fbff !important;}
.btn-primary:hover{ background-color: #af5ecf;}

/* contorno delle carte e del video */
.border-primary{ border-color: #63c4f4 !important;}
.border-primary:hover{ border-color: #A239CA !important;}

/* contenuto card e selettore wikibox */
a:hover{ color: #A239CA; text-decoration: none;}

/* selettore wikibox */
.nav-link{ border: 2px solid transparent;}
.nav-link.active{
  background-color: #FFF !important;
  border-color: #84fab0;
  color: #157ffb !important;
}

/* burger head wikibox */
.btn-link{ color: #2182f7;}
.btn-link:hover{ color: #A239CA; text-decoration: none;}

/* views e like in description video */
.badge-info{ background-color: #01a5f5;}
.badge-success{ background-color: #28bf4a;}
